body {
  /* font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400; */


  /* временно */
  /* background-color: gray; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #f3f7f9;
  min-height: 320px;
  /* display: flex; */
}

h1,
h2 {
  font-size: 30px;
  font-family: "Cuprum";
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  padding-bottom: 0;
}

.list-unstyle {
  padding: 0;
  margin: 0;
}

.purchase-options {
  display: flex;
  align-self: center;
  margin-left: auto;
}

.header-buttons {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding-top: 32px;
}

.header-button {
  background-color: #ffffff;
  margin: 0;
  margin-left: 10px;

  font-size: 21px;
  font-family: "Cuprum";
  line-height: 21px;
  color: #000000;
  padding: 10px 14px;
}


.header-button:hover,
.header-button:focus {
  color: #ee3643;
}

.header-button:active {
  color: #c5c5c5;
  /* opacity: 0.3; */
}

/* .login-before {
  position: relative;
} */

.login-button {
  padding-left: 47px;
  position: relative;
}

.login-button::before {
  content: "";

  position: absolute;
  display: block;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.login-button:hover::before {
  background-image: url("../img/icon-login-active.svg");
}

.login-button:active::before {
  background-image: url("../img/icon-login.svg");
}

.telephone {
  font-size: 21px;
  font-family: "Cuprum";
  color: #ee3643;
  line-height: 1;
  border: 3px solid #ffffff;
  padding: 8px 35px 3px 75px;
  margin-top: 20px;
}

.telephone::before {
  content: "";

  position: absolute;
  display: block;
  top: 30px;
  left: 20px;
  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.header-adress {
  font-size: 14px;
  font-family: "Cuprum";
  line-height: 24px;
  color: #32425c;
  margin-top: 5px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  width: 886px; /*940*/
  height: 89px;
  padding-left: 30px;
  padding-right: 24px;
  margin-bottom: 20px;
}

.store-description {
  font-size: 16px;
  font-family: "Cuprum";
  line-height: 23px;
  color: #ee3643;
  font-weight: 400;
  font-style: italic;
  width: 198px;

  padding-right: 70px;
}

.header-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 271px;
}

.profile {
display: flex;
flex-flow: column;
}

.profile ul {
  display: flex;
}

.personal-data {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 299px;
  padding: 10px 10px 10px 48px;
  margin-top: 20px;
}

.personal-data p {
  position: relative;
  font-size: 21px;
  font-family: "Cuprum";
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  margin: 0;
}

.personal-data p::before {
  content: "";

  position: absolute;
  display: block;
  top: 0;
  left: -35px;
  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.personal-data p:hover::before {
  background-image: url("../img/icon-user-hover.svg");
}

.log-out {
  position: relative;
  width: 20px;
  height: 17px;
}

.log-out::after {
  content: "";

  position: absolute;
  display: block;
  top: 2px;
  left: 0;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.log-out:hover::after {
  background-image: url("../img/icon-logout-hover.svg");
}

.main-navigation {
  min-height: 60px;
  background-color: #32425c;
  width: 940px;
  margin: 0 auto;
  /* margin-bottom: 60px; */
}

.main-menu{
  display: flex;
  justify-content: center;
  width: 940px;
  margin: 0 auto;
  padding-left: 0;
  flex-wrap: wrap;
}

.main-navigation::after {
  content: "";
  width: 940px;
  height: 5px;
  background-color: #293449;

  position: absolute;
}

.menu-link {
  display: flex;
  padding: 10px;

  font-size: 17px;
  font-family: "Cuprum";
  line-height: 17px;
  color: #ffffff;
  font-weight: 400;

  padding-top: 19px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
}

.menu-link:hover,
.menu-link:focus {
  background-color: #293449;
}

.menu-link:active {
  color: #93969c;
}

.services-heading {
  font-size: 30px;
  font-family: "Cuprum";
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

.offers {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.offers-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers p {
  font-size: 24px;
  font-family: "Cuprum";
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 24px;
}

.offers-button {
  background-color: #000000;
  opacity: 0.3;
}

.offers-card > a {
  font-size: 14px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;

  /* display: block; */
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 135px;
  margin-left: 24px;
  margin-bottom: 20px;
  padding: 12px 25px;
  border-radius: 2px;

  background-color: rgba(0, 0, 0, 0.1);
}

.offers-card > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-card > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-card {
  width: 300px;
}

.offers-card > p {
  margin-bottom: 10px;
}

/* .offers-card:nth-child(n + 4) {
  margin-left: 640px;
} */

.slider-wrapper {
  position: absolute;
  /* display: block;
  content: ""; */
  bottom: 0;
  left: 0;
}

.slider{
  position: relative;
  width: 620px;
  height: 266px;
  background-color: #533c35;
  top: 167px;
  border-bottom: 0;
}

.slider-item{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.slider button {
  position: absolute;
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.button-back {
  top: 114px;
  left: 24px;
}

.button-back::before {
  content: "";

  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 22px;
  height: 40px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.button-forward {
  top: 114px;
  left: 578px;
}

.button-forward::after {
  content: "";

  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.slider-item p {
  font-size: 18px;
  font-weight: 400;
  /* width: 150px; */
  margin: 0;
}

.slider-item span{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.first-slider::before {
  content: "";

  position: absolute;
  display: block;
  top: 220px;
  left: 295px;
  width: 10px;
  height: 10px;

  background-image: url("../img/dot.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.first-slider::after {
  content: "";

  position: absolute;
  display: block;
  top: 220px;
  left: 315px;
  width: 10px;
  height: 10px;

  background-image: url("../img/present-dot.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.second-slider::before {
  content: "";

  position: absolute;
  display: block;
  top: 220px;
  left: 295px;
  width: 10px;
  height: 10px;

  background-image: url("../img/present-dot.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.second-slider::after {
  content: "";

  position: absolute;
  display: block;
  top: 220px;
  left: 315px;
  width: 10px;
  height: 10px;

  background-image: url("../img/dot.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.first-slider {
  width: 620px;
  height: 266px;

  background-image: url("../img/drill-promo.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.second-slider {
  width: 620px;
  height: 266px;

  background-image: url("../img/hammer-drill-promo.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.offers-list > li {
  position: relative;
}

.materials {
  background-color: #ffbf47;
}

.materials::after {
  content: "";

  position: absolute;
  display: block;
  top: 24px;
  left: 240px;
  width: 60px;
  height: 60px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.materials::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 210px;
  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.tools {
  background-color: #3bbce3;
}

.tools::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 190px;
  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.technics {
  background-color: #dc91d8;
}

.technics::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 180px;
  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.discount {
  background-color: #8ed78f;
  /* align-self: flex-end; */
}

.discount::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 190px;
  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.deliverys {
  background-color: #ffc047;

  /* align-content: flex-end; */

  /* position: absolute; */
  /* display: block; */
  /* top: 160px;
  left: -300px; */
  /* width: 59px; */
  /* height: 72px; */
  /* margin-left: 640px; */
}

.deliverys::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 190px;
  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.button{
  /* display: inline-block; */
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 11px 30px;

  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum";
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-popular {
  min-width: 252px;
}

.button-about {
  display: flex;
  min-width: 220px;
}

.slider-button {
  display: inline-flex;
  /* display: flex; */
  margin-left: 25px;
  width: 195px;
  margin-bottom: 22px;
  /* margin-bottom: 10px; */

  /* display: inline-flex;
  align-content: flex-end; */
}

.popular,
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 218px;
  /* height: 316px; */
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px -14px #293449;
}

.catalog-item h3 {
  font-size: 18px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 161px;
  display: block;
  margin: auto;
  padding-top: 8px;
}

/* .card-list a {
  color: #000000;
} */

.old-price {
  font-size: 17px;
  font-family: "PT Sans";
  color: #a9a9a9;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

.new-price {
  position: relative;
  font-size: 17px;
  font-family: "PT Sans";
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
  width: 141px;
  margin: auto;
  margin-bottom: 21px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.new-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.company-info {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about {
  width: 535px;
}

.delivery {
  position: relative;
  padding-left: 36px;
  padding-bottom: 20px;
}

/* не работает */
.delivery-list:last-child {
  padding: 22px;
}

.delivery::before {
  content: "";

  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.contacts {
  width: 300px;
  padding-left: 110px;
}

.contacts img {
  padding-bottom: 40px;
}

.services {
  display: block;
  padding-top: 68px;
}

.services-description {
  width: 400px;
}

.services-tabs {
  display: flex;
  position: relative;
}

.services-tabs h3 {
  font-size: 36px;
}

.services p,
.about p,
.about-content p,
.contacts p {
  font-size: 13px;
  font-family: "PT Sans";
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}

.services-content {
  padding-left: 80px;
}

.about li {
  font-size: 18px;
  font-family: "Cuprum";
  line-height: 20px;
  color: #000000;
}


.footer-adress {
  font-size: 18px;
  font-family: "Cuprum";
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}

.footer-adress p {
  width: 325px;
  margin-bottom: 0;
}

.footer-offers {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
}

.footer-offer {
  padding-left: 60px;
  margin-top: 20px;
}

.footer-offer > a {
  font-size: 17px;
  font-family: "Cuprum";
  line-height: 17px;
  color: #ffd180;
  font-weight: 400;
}

.footer-offer > a:hover {
  text-decoration: underline;
}

.footer-offer > a:active {
  opacity: 0.5;
  text-decoration: none;
}

.down-content {
  display: flex;
  justify-content: space-between;
}

.rights {
  font-size: 16px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  width: 235px;
}

.developers {
  display: flex;
  justify-content: flex-end;
}

.developer {
  font-size: 16px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  /* width: 140px; */
  padding-left: 53px;
}
.developer a {
  font-size: 16px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffd180;
  font-weight: 400;
}

.developer a:hover {
  text-decoration: underline;
}

.developer a:active {
  color: #ee3643;
  text-decoration: none;
}

.about-content {
  background-color: #f2f6f8;
}

.about-puncher {
  width: 940px;
  margin: 0 auto;
  padding: 68px 0;
}

.menu-wrapper {
  /* width: 100%; */
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 42px;
  background-color: #32425c;
}

.top-header {
  display: flex;
  width: 940px;
  padding: 0 10px;
  height: 42px;
}

.form-flex {
  display: flex;
  position: relative;
  width: 270px;
  height: 42px;
}

.form-flex input{
  padding-left: 48px;
  width: 270px;
  font-size: 17px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  border: none;
  background-color: transparent;
}

.form-flex input::placeholder {
  color: #ffffff;
}

.form-flex::before {
  content: "";

  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  opacity: 0.3;
}

.form-flex:hover {
  background-color: #212a3a;
}

.form-flex:hover::before {
  opacity: 1;
}

.form-flex:active {
  background-color: #293449;
}

.form-flex:active::before {
  opacity: 0.3;
}

.form-flex input:focus {
  color: #000000;
  background-color: #ffffff;
}

.form-flex input:focus::placeholder {
  color: #000000;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  position: relative;
  width: 218px;
  height: 143px;
  border: 1px solid #ebebeb;

  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
}

.brands a {
  /* padding: 50px; */
}

.brands:nth-child(4n) {
  margin-right: 0;
}

.brands:hover {
  box-shadow: 0 6px 25px -14px #293449;
}

.brands:active {
  opacity: 0.3;
  box-shadow: 0 6px 10px -10px #293449;
}

/* .brands img:active {
  opacity: 0.3;
} */

/* .brand-logo:active {
  opacity: 0.3;
} */

/* .brands a:active {
  opacity: 0.3;
} */

.tool-name {
  display: inline-block;

  font-size: 18px;
  font-family: "PT Sans";
  line-height: 20px;
  color: #000000;
  font-weight: 700;

  width: 160px;
}

.catalog-item .flag {
  position: absolute;
  /* display: flex; */
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.not-visible {
  display: none;
}

/* .catalog-item:nth-child(4n) {
  margin-right: 0;
} */

.logo {
  display: inline-block;
  /* position: absolute; */
  background-color: #ee3643;
  width: 220px;
  height: 42px;
  border-bottom: 5px solid #b52933;
}

.logo img {
  display: inline-block;
  position: absolute;
  padding: 13px 55px 11px 55px;
}

.bookmarks {
  position: relative;
  background-color: transparent;
  padding: 12px 21px;
  padding-left: 40px;
  margin: 0;
  font-size: 17px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
}

.bookmarks::before {
  content: "";

  position: absolute;
  display: block;
  top: 13px;
  left: 13px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  opacity: 0.5;
}

.bookmarks:hover{
  background-color: #212a3a;
}

.bookmarks:active{
  background-color: #161d29;
  color: #8b8e94;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.5;
}

.cart {
  position: relative;
  background-color: transparent;
  padding: 12px 21px;
  /* margin-top: 12px; */
  padding-left: 40px;
  font-size: 17px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
}

.cart:hover{
  background-color: #212a3a;
}

.cart:active{
  background-color: #161d29;
  color: #8b8e94;
}

.cart::before {
  content: "";

  position: absolute;
  display: block;
  top: 13px;
  left: 15px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  opacity: 0.5;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.cart-storred {
  background-color: #ee3643;
}

.make-order {
  background-color: #63a63e;
  padding: 12px 21px;
  margin: 0;

  font-size: 17px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
}

.make-order:hover {
  background-color: #5fbb2d;
}

.make-order:active {
  color: #a2be93;
  background-color: #518534;
}

.middle-header {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}

.header-info {
  display: flex;
  padding-left: 52px;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  width: 100%
}

.main-content {
  width: 940px;
  margin: 0 auto;
}

.first-paragraf {
  margin-bottom: 40px;
}

.office {
  width: 185px;
  margin-bottom: 40px;
}

.upper-footer {
  display: flex;
  min-height: 193px;
  background-color: #32425c;
}

.down-footer {
  display: flex;
  min-height: 107px;
  background-color: #293449;
}

.footer-wrapper {
  width: 940px;
  margin: 0 auto;
}

.footer-between{
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: inline-block;
  /* position: absolute; */
  background-color: #ee3643;
  width: 220px;
  height: 62px;
  border-bottom: 5px solid #b52933;
}

.footer-logo img {
  display: inline-block;
  position: absolute;
  padding: 21px 55px 21px 55px;
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
}

.footer-link {
  padding-left: 60px;
  padding: 10px;
  padding-left: 50px;
}

.footer-link > a{
  display: flex;

  font-size: 17px;
  font-family: "Cuprum";
  line-height: 17px;
  color: #ffffff;
  font-weight: 400;

  padding-top: 10px;
  /* padding-top: 19px;
  padding-right: 0;
  padding-bottom: 19px; */
}

.footer-link > a:hover {
  text-decoration: underline;
}

.footer-link > a:active {
  opacity: 0.5;
  text-decoration: none;
}

.paragraf-unstyle {
  margin: 0;
}

/* .network-background::after {
  content: "";

  position: absolute;
  display: block;

  top: 16px;
  left: 14px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
} */

.social-list {
  display: flex;
  margin-top: 20px;
}

.social-list > .social-network:first-child  {
  margin-left: 0;
}

.social-list > .social-network:last-child  {
  margin-right: 0;
}

.social-network {
  position: relative;
  margin: 0 5px;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-network:hover {
  background-color: #ee3643;
}

.social-network > a {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.vkontakte {
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
}

.facebook {
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
}

.instagram {
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
}

.actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.services-background {
  background-color: #f4f8fa;
  min-height: 522px;
  margin-top: 65px;
}

.services-delivry {
  width: 622px;
  height: 261px;
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
  background-position: 233px 40px;
  background-size: contain;
}

.services-garantie {
  display: none;
  width: 622px;
  height: 261px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 342px 40px;
  background-size: contain;
}

.services-credit {
  display: none;
  width: 622px;
  height: 261px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 274px 40px;
  background-size: contain;
}

.services-credit .button {
  display: none;
  width: 195px;
}

.toggle {
  padding-top: 30px;
  position: relative;
}

.toggle button {
  display: flex;
  box-sizing: border-box;
  width: 240px;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum";
  font-weight: bold;
  border: none;
  padding-top: 17px;
  padding-left: 22px;
  padding-bottom: 18px;
}

.toggle .active {
  color: #32425c;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.toggle .unactive {
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.toggle .unactive:hover {
  background-color: #293449;
}

.toggle::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 230px;
  width: 10px;
  height: 278px;
  background-image: url("../img/menu-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.catalog-h1 {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f6f8;
    width: 886px;
    height: 89px;
    padding-left: 30px;
    padding-right: 24px;
}

.page-catalog {
  display: flex;
  justify-content: space-between;
}

.right-column {
  width: 700px;
}

.paginator {
  display: flex;
  width: 700px;
  margin-top: 32px;
  margin-bottom: 60px;
}

.paginator-button {
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  display: flex;
  padding: 10px 16px;
  margin-right: 10px;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.paginator-button:hover {
  border: 1px solid #bdc6ca;
}

.paginator-button:active {
  border: 1px solid #ee3643;
}

.present-page {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.present-page:hover {
  border: 1px solid #ee3643;
}

.next-page {
  text-transform: uppercase;
  padding-left: 32px;
  padding-right: 32px;
}

/* .next-page:active {

} */

.display-flex {
  display: flex;
}

.breadcrumbs {
  display: flex;
  /* position: relative; */
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  margin-top: 24px;
}

.breadcrumbs a {
  margin-right: 40px;
  color: #000000;
  position: relative;
}

.breadcrumbs a::after {
  content: "";

  position: absolute;
  display: block;
  top: 2px;
  left: 20px;
  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.home-icon::before {
  content: "";

  position: absolute;
  display: block;
  top: 2px;
  left: 0;
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

/* .home-icon::after {
  content: "";

  position: absolute;
  display: block;
  top: 4px;
  left: 20px;
  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
} */

.sort {
  display: flex;
  font-family: "PT Sans";
  font-size: 13px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  padding-left: 19px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.sort p {
  margin-right: 142px;
}

.sort-box {
  width: 354px;
  justify-content: space-between;
  align-items: center;
}

.sort-box .active {
  color: #ee3643;
}

.sort-box .unactive {
  color: #c4c1bb;
  border-bottom: 1px dotted #ee3643;
}

.sort-button {
  position: relative;
}

.sort-button button {
  position: absolute;
  top: 14px;
  width: 11px;
  height: 10px;
  border: none;
  background-color: transparent;
}

.sort-up {
  left: 46px;
}

.sort-down {
  left: 78px;
}

.sort-up::after {
  content: "";

  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.sort-down::after {
  content: "";

  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.pseudo-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 620px;
  height: 266px;
  background-color: red;
  margin-top: 20px;
}

.filter-name {
  display: flex;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  width: 220px;
  background-color: #f7f3ec;
  border-radius: 3px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 18px;

  /* line-height: 1;
  text-align: left;
  padding-bottom: 0; */
}

.filter span {
  display: flex;
  box-sizing: border-box;
  font-size: 17px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 13px;
}

.ptice-filter {
  display: flex;
  position: relative;
  background-color: #f7f3ec;
  border-radius: 3px;
  width: 220px;
  /* height: 220px; */
}

.ptice-filter::before {
  content: "";

  position: absolute;
  display: block;
  top: 30px;
  left: 14px;
  width: 20px;
  height: 22px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.ptice-filter::after {
  content: "";

  position: absolute;
  display: block;
  top: 30px;
  left: 160px;
  width: 20px;
  height: 22px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.filter .line {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.line-unactive {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  margin: 39px 20px;
}

.digit-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  align-items: baseline;
}

.digit {
  width: 95px;
  font-size: 17px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: 400;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #f7f3ec;
  border-radius: 3px;
  width: 95px;
}

.profile-links {
  position: relative;
  padding-left: 0;
  font-size: 16px;
  font-family: "Cuprum";
  font-weight: 400;
  margin-top: 10px;
  margin-left: 18px;
}

.profile-links a {
  color: #32425c;
  margin-right: 33px;
  text-decoration: underline;
  /* border-bottom: 1px solid #32425c; */
}

.profile-links a:hover {
  color: #ee3643;
}

.profile-links a:active {
  color: #32425c;
  opacity: 0.3;
}

.profile-dot::after {
  content: "";

  position: absolute;
  display: block;
  top: 6px;
  left: 90px;
  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
