body {
  /* font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400; */


  /* временно */
  /* background-color: gray; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #f3f7f9;
  min-height: 320px;
  /* display: flex; */
}

h1,
h2 {
  font-size: 30px;
  font-family: "Cuprum";
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  padding-bottom: 0;
}

.list-unstyle {
  padding: 0;
}

.purchase-options {
  display: flex;
  position: relative;
  align-self: center;
  margin-left: auto;
}

.header-buttons {
  display: flex;
  /* align-self: center; */
  margin-left: auto;
}

.header-button {
  /* display: inline-block; */
  background-color: #ffffff;
  margin: 0;
  display: flex;

  font-size: 21px;
  font-family: "Cuprum";
  line-height: 21px;
  color: #000000;
  padding: 14px;
}


.header-button:hover,
.header-button:focus {
  color: #ee3643;
}

.header-button:active {
  color: #000000;
  opacity: 0.3;
}

.login-before {
  position: relative;
}

.login-button {
  padding-left: 47px;
  /* margin-left: auto; */
}

.login-button::before {
  content: "";

  position: absolute;
  display: block;
  top: 16px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

}

.telephone {
  font-size: 21px;
  font-family: "Cuprum";
  color: #ee3643;
  line-height: 1;
  border: 3px solid #ffffff;
  padding: 8px 30px 3px 70px;
  margin-top: 20px;
}

.telephone::before {
  content: "";

  position: absolute;
  display: block;
  top: 30px;
  left: 20px;
  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.header-adress {
  font-size: 14px;
  font-family: "Cuprum";
  line-height: 24px;
  color: #32425c;
  margin-top: 0;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  width: 886px; /*940*/
  height: 89px;
  padding-left: 30px;
  padding-right: 24px;
}

.store-description {
  font-size: 16px;
  font-family: "Cuprum";
  line-height: 23px;
  color: #ee3643;
  font-weight: 400;
  font-style: italic;
  width: 198px;

  padding-right: 70px;
}

.header-contacts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 271px;
}

.main-navigation {
  min-height: 60px;
  background-color: #32425c;
  width: 940px;
  margin: 0 auto;
  /* margin-bottom: 60px; */
}

.main-menu{
  display: flex;
  justify-content: center;
  width: 940px;
  margin: 0 auto;
  padding-left: 0;
  flex-wrap: wrap;
}

.main-navigation::after {
  content: "";
  width: 940px;
  height: 5px;
  background-color: #293449;

  position: absolute;
}

.menu-link {
  display: flex;
  padding: 10px;

  font-size: 17px;
  font-family: "Cuprum";
  line-height: 17px;
  color: #ffffff;
  font-weight: 400;

  padding-top: 19px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
}

.menu-link:hover,
.menu-link:focus {
  background-color: #293449;
}

.menu-link:active {
  color: #93969c;
}

.services-heading {
  font-size: 30px;
  font-family: "Cuprum";
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

.offers {
  position: relative;
  display: flex;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers p {
  font-size: 24px;
  font-family: "Cuprum";
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 24px;
}

.offers-button {
  background-color: #000000;
  opacity: 0.3;
}

.offers-card > a {
  font-size: 14px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;

  /* display: block; */
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 135px;
  margin-left: 24px;
  padding: 12px 25px;
  border-radius: 2px;

  background-color: rgba(0, 0, 0, 0.1);
}

.offers-card > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-card > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-card {
  width: 300px;
  height: 123px;
}

.offers-card > p {
  margin-bottom: 10px;
}

.offers-card:nth-child(n + 4) {
  /* margin-left: 640px; */
}

.slider{
  /* position: absolute;
  display: block; */
  /* content: ""; */
  width: 621px;
  height: 266px;
  background-color: #533c35;
  /* top: 167px; */
  /* border-bottom: 0; */
}

/* .slider-item{
  display: flex;
  flex-wrap: wrap;
} */

.first-slider {
  width: 620px;
  height: 266px;

  background-image: url("../img/drill-promo.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.offers-list > li {
  position: relative;
}

.materials {
  background-color: #ffbf47;
}

.materials::after {
  content: "";

  position: absolute;
  display: block;
  top: 24px;
  left: 256px;
  width: 44px;
  height: 65px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.materials::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 210px;
  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.tools {
  background-color: #3bbce3;
}

.tools::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 190px;
  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.technics {
  background-color: #dc91d8;
}

.technics::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 180px;
  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.discount {
  background-color: #8ed78f;
}

.discount::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 190px;
  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.deliverys {
  background-color: #ffc047;
}

.deliverys::before {
  content: "";

  position: absolute;
  display: block;
  top: 54px;
  left: 190px;
  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.button{
  /* display: inline-block; */
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 11px 30px;

  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum";
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-popular {
  min-width: 252px;
}

.button-about {
  display: flex;
  min-width: 220px;
}

.slider-button {
  display: flex;
  margin-left: 25px;
  min-width: 195px;
}

.popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 218px;
  /* min-height: 316px; */
  height: 316px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.catalog-item h3 {
  font-size: 18px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  width: 161px;
  display: block;
  margin: auto;
  padding-top: 8px;
}

/* .card-list a {
  color: #000000;
} */

.old-price {
  font-size: 17px;
  font-family: "PT Sans";
  color: #a9a9a9;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

.new-price {
  position: relative;
  font-size: 17px;
  font-family: "PT Sans";
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
  width: 141px;
  margin: auto;
  margin-bottom: 21px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.new-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.company-info {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about {
  width: 535px;
}

.delivery {
  padding-left: 36px;
  padding-bottom: 20px;
}

.delivery-list {
  position: relative;
}

/* не работает */
.delivery-list:last-child {
  padding: 22px;
}

.delivery::before {
  content: "";

  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.contacts {
  width: 300px;
  padding-left: 110px;
}

.contacts img {
  padding-bottom: 40px;
}

.services {
  display: block;
  padding-top: 68px;
}

.services-description {
  width: 400px;
}

.services-tabs {
  display: flex;
}

.services p,
.about p,
.contacts p {
  font-size: 13px;
  font-family: "PT Sans";
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}

.about li {
  font-size: 18px;
  font-family: "Cuprum";
  line-height: 20px;
  color: #000000;
}


.footer-adress {
  font-size: 18px;
  font-family: "Cuprum";
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}

.footer-adress p {
  width: 325px;
  margin-bottom: 0;
}

.footer-offers {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
}

.footer-offer {
  padding-left: 60px;
}

.footer-offer > a {
  font-size: 17px;
  font-family: "Cuprum";
  line-height: 17px;
  color: #ffd180;
  font-weight: 400;


}

.footer-offer > a:hover {
  text-decoration: underline;
}

.footer-offer > a:active {
  opacity: 0.5;
  text-decoration: none;
}

.down-content {
  display: flex;
  justify-content: space-between;
}

.rights {
  font-size: 16px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  width: 235px;
}

.developers {
  display: flex;
  justify-content: flex-end;
}

.developer {
  font-size: 16px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  /* width: 140px; */
  padding-left: 53px;
}
.developer a {
  font-size: 16px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffd180;
  font-weight: 400;
}

.developer a:hover {
  text-decoration: underline;
}

.developer a:active {
  color: #ee3643;
  text-decoration: none;
}

.about-puncher {
  background-color: #f2f6f8;
}

.menu-wrapper {
  /* width: 100%; */
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 42px;
  background-color: #32425c;
}

.top-header {
  display: flex;
  width: 940px;
  padding: 0 10px;
  height: 42px;
}

.form-flex {
  display: flex;
  height: 42px;
}

/* .promo-button {
  background-color: #000000;
  color: #ffffff;

} */

.brands-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  position: relative;
  width: 218px;
  height: 143px;
  border: 1px solid #ebebeb;

  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
}

.brands:nth-child(4n) {
  margin-right: 0;
}

.brands:hover {
  box-shadow: 0 6px 25px -6px #293449;
}

.brands:active {

}

.tool-name {
  display: inline-block;

  font-size: 18px;
  font-family: "PT Sans";
  line-height: 20px;
  color: #000000;
  font-weight: 700;

  width: 160px;
}

.catalog-item .flag {
  position: absolute;
  /* display: flex; */
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

/* .catalog-item:nth-child(4n) {
  margin-right: 0;
} */

.logo {
  display: inline-block;
  /* position: absolute; */
  background-color: #ee3643;
  width: 220px;
  height: 42px;
  border-bottom: 5px solid #b52933;
}

.logo img {
  display: inline-block;
  position: absolute;
  padding: 13px 55px 11px 55px;
}

.bookmarks {
  background-color: transparent;
  padding: 12px 21px;
  margin: 0;

  font-size: 17px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
}

.bookmarks::before {
  content: "";

  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  opacity: 0.5;
}

.bookmarks:hover::before {
  opacity: 1;
}

.cart {
  background-color: transparent;
  padding: 12px 21px;
  /* margin-top: 12px; */
  margin-left: 20px;
  font-size: 17px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
}

.cart:hover{
  background-color: #212a3a;
}

.cart:active{
  background-color: #161d29;
  color: #8b8e94;
}

.cart::before {
  content: "";

  position: absolute;
  display: block;
  top: 0px;
  left: 130px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  opacity: 0.5;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.make-order {
  background-color: #63a63e;
  padding: 12px 21px;
  margin: 0;

  font-size: 17px;
  font-family: "Cuprum";
  line-height: 18px;
  color: #ffffff;
}

.middle-header {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}

.header-info {
  display: flex;
  padding-left: 52px;
  padding-top: 30px;
  padding-bottom: 30px;
  /* justify-content: space-between; */
}

.main-content {
  width: 940px;
  margin: 0 auto;
}

.first-paragraf {
  margin-bottom: 40px;
}

.office {
  width: 185px;
  margin-bottom: 40px;
}

.upper-footer {
  display: flex;
  min-height: 193px;
  background-color: #32425c;
}

.down-footer {
  display: flex;
  min-height: 107px;
  background-color: #293449;
}

.footer-wrapper {
  width: 940px;
  margin: 0 auto;
}

.footer-between{
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: inline-block;
  /* position: absolute; */
  background-color: #ee3643;
  width: 220px;
  height: 62px;
  border-bottom: 5px solid #b52933;
}

.footer-logo img {
  display: inline-block;
  position: absolute;
  padding: 21px 55px 21px 55px;
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
}

.footer-link {
  padding-left: 60px;
  padding: 10px;
  padding-left: 50px;
}

.footer-link > a{
  display: flex;

  font-size: 17px;
  font-family: "Cuprum";
  line-height: 17px;
  color: #ffffff;
  font-weight: 400;

  /* padding-top: 19px;
  padding-right: 0;
  padding-bottom: 19px; */
}

.footer-link > a:hover {
  text-decoration: underline;
}

.footer-link > a:active {
  opacity: 0.5;
  text-decoration: none;
}

.paragraf-unstyle {
  margin: 0;
}

.network-background::after {
  content: "";

  position: absolute;
  display: block;

  top: 16px;
  left: 14px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.social-network {
  position: relative;
}

.vkontakte::after {
  content: "";

  position: absolute;
  display: block;
  /* top: 16px;
  left: 14px; */
  width: 26px;
  height: 15px;

  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.facebook::after {
  content: "";

  position: absolute;
  display: block;
  /* top: 16px;
  left: 14px; */
  width: 26px;
  height: 15px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.instagram::after {
  content: "";

  position: absolute;
  display: block;
  /* top: 16px;
  left: 14px; */
  width: 26px;
  height: 15px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.services-background {
  background-color: #f4f8fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
